.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18rem 1fr 7.5rem;
  grid-template-areas:
    "header "
    "main"
    "footer";

  height: 100%;

  position: relative;
}
